In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn import tree
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score,RandomizedSearchCV,RepeatedKFold
from sklearn.linear_model import Ridge,Lasso, LassoCV,LinearRegression
from xgboost import XGBRegressor
from model_functions import label_encoding,training_model,nn_models
from sklearn.model_selection import train_test_split
dataset=pd.read_excel("dataset.xlsx")
a=pd.read_excel("sample2.xlsx")

[NbConvertApp] Converting notebook model_functions.ipynb to script
[NbConvertApp] Writing 2362 bytes to model_functions.py

In [2]:
dataset.head()

,Destination,Origin,To Area,Flight Date,day_name,flight_month,season,year,Flight Code,Days,...,Block1,Sold1,Left1,Occ.(%)1,Occ.,Netto,Netto Currency,Profit,prıce,day_convert
0,Turkey,Belgorod,Antalya,02.01.2020,Thursday,January,Winter,2020,WZ 4035.,4,...,220,151,69,69,95.45,177.0,EUR,61.73,238.73,2020-01-02
1,Turkey,Belgorod,Antalya,09.01.2020,Thursday,January,Winter,2020,WZ 4035.,4,...,220,220,0,100,0.00,174.0,EUR,NaN,174.00,2020-01-09
2,Turkey,Chelyabinsk,Antalya,02.01.2020,Thursday,January,Winter,2020,U6 1009,4,...,220,181,39,82,97.73,253.0,EUR,58.35,311.35,2020-01-02
3,Turkey,Chelyabinsk,Antalya,10.01.2020,Friday,January,Winter,2020,U6 1009,5,...,220,217,3,99,0.00,236.0,EUR,NaN,236.00,2020-01-10
4,Turkey,Chelyabinsk,Antalya,15.03.2020,Sunday,March,Spring,2020,WZ 4009,7,...,220,1,219,0,99.09,251.0,EUR,-50.69,200.31,2020-03-15

In [3]:
dataset.corr()

,year,Days,Block,Sold,Left,Occ.(%),Block1,Sold1,Left1,Occ.(%)1,Occ.,Netto,Profit,prıce
year,1.000000,-0.029299,-0.500965,-0.437583,-0.277592,0.202734,-0.500537,-0.436137,-0.241933,0.177326,0.203446,0.673736,0.554636,0.686331
Days,-0.029299,1.000000,0.019128,0.019513,0.002197,0.025203,0.017977,0.025472,-0.017529,0.026723,0.025176,-0.014492,0.003030,-0.004891
Block,-0.500965,0.019128,1.000000,0.948956,0.328061,-0.119312,0.998016,0.932570,0.314093,-0.069487,-0.119934,-0.549725,-0.403521,-0.523769
Sold,-0.437583,0.019513,0.948956,1.000000,0.013363,0.123732,0.947692,0.871648,0.335404,-0.088854,0.123050,-0.500339,-0.348561,-0.454279
Left,-0.277592,0.002197,0.328061,0.013363,1.000000,-0.748825,0.325558,0.345833,-0.008803,0.045833,-0.748755,-0.244215,-0.269738,-0.299880
Occ.(%),0.202734,0.025203,-0.119312,0.123732,-0.748825,1.000000,-0.116721,-0.137044,0.038051,-0.039430,0.999966,0.134688,0.270740,0.265150
Block1,-0.500537,0.017977,0.998016,0.947692,0.325558,-0.116721,1.000000,0.934785,0.313752,-0.068651,-0.117335,-0.549923,-0.403008,-0.523321
Sold1,-0.436137,0.025472,0.932570,0.871648,0.345833,-0.137044,0.934785,1.000000,-0.043987,0.182550,-0.137541,-0.497350,-0.360413,-0.471084
Left1,-0.241933,-0.017529,0.314093,0.335404,-0.008803,0.038051,0.313752,-0.043987,1.000000,-0.681047,0.037651,-0.217206,-0.169732,-0.212599
Occ.(%)1,0.177326,0.026723,-0.069487,-0.088854,0.045833,-0.039430,-0.068651,0.182550,-0.681047,1.000000,-0.039222,0.105084,0.156977,0.155612
Occ.,0.203446,0.025176,-0.119934,0.123050,-0.748755,0.999966,-0.117335,-0.137541,0.037651,-0.039222,1.000000,0.135200,0.271347,0.265738
Netto,0.673736,-0.014492,-0.549725,-0.500339,-0.244215,0.134688,-0.549923,-0.497350,-0.217206,0.105084,0.135200,1.000000,0.494763,0.784713
Profit,0.554636,0.003030,-0.403521,-0.348561,-0.269738,0.270740,-0.403008,-0.360413,-0.169732,0.156977,0.271347,0.494763,1.000000,0.926078
prıce,0.686331,-0.004891,-0.523769,-0.454279,-0.299880,0.265150,-0.523321,-0.471084,-0.212599,0.155612,0.265738,0.784713,0.926078,1.000000

In [4]:
dataset.describe()

,year,Days,Block,Sold,Left,Occ.(%),Block1,Sold1,Left1,Occ.(%)1,Occ.,Netto,Profit,prıce
count,9376.000000,9376.000000,9376.000000,9376.000000,9376.000000,9376.000000,9376.000000,9376.000000,9376.000000,9376.000000,9376.000000,9376.000000,9265.000000,9376.000000
mean,2021.590444,4.075299,110.070286,100.846416,9.223869,93.901877,109.839484,100.654224,9.185260,93.139078,93.893706,357.159776,244.885018,599.145664
std,0.672453,2.013205,115.047927,108.690466,36.290315,18.139012,114.947229,109.248709,40.870404,20.796022,18.139970,131.830580,215.333670,303.057957
min,2020.000000,1.000000,1.000000,0.000000,-4.000000,0.000000,0.000000,0.000000,-6.000000,0.000000,0.000000,50.000000,-555.910000,-99.210000
25%,2021.000000,2.000000,34.000000,30.000000,0.000000,100.000000,34.000000,30.000000,0.000000,100.000000,99.590000,258.000000,55.920000,346.937500
50%,2022.000000,4.000000,63.000000,62.000000,0.000000,100.000000,63.000000,62.000000,0.000000,100.000000,100.000000,360.245000,229.110000,620.515000
75%,2022.000000,6.000000,186.000000,163.000000,1.000000,100.000000,186.000000,163.000000,0.000000,100.000000,100.000000,405.700000,397.390000,799.690000
max,2022.000000,7.000000,492.000000,492.000000,478.000000,103.000000,492.000000,494.000000,478.000000,107.000000,102.940000,750.000000,2552.460000,3255.640000

In [5]:
dataset.corr().unstack().sort_values(ascending=False).drop_duplicates().head(50)

year      year        1.000000
Occ.      Occ.(%)     0.999966
Block     Block1      0.998016
          Sold        0.948956
Sold      Block1      0.947692
Block1    Sold1       0.934785
Block     Sold1       0.932570
Profit    prıce       0.926078
Sold1     Sold        0.871648
prıce     Netto       0.784713
          year        0.686331
Netto     year        0.673736
year      Profit      0.554636
Netto     Profit      0.494763
Left      Sold1       0.345833
Sold      Left1       0.335404
Left      Block       0.328061
          Block1      0.325558
Left1     Block       0.314093
          Block1      0.313752
Profit    Occ.        0.271347
Occ.(%)   Profit      0.270740
prıce     Occ.        0.265738
Occ.(%)   prıce       0.265150
Occ.      year        0.203446
year      Occ.(%)     0.202734
Occ.(%)1  Sold1       0.182550
          year        0.177326
          Profit      0.156977
          prıce       0.155612
Occ.      Netto       0.135200
Netto     Occ.(%)     0.134688
Sold      Occ.(%)     0.123732
Occ.      Sold        0.123050
Occ.(%)1  Netto       0.105084
          Left        0.045833
Occ.(%)   Left1       0.038051
Occ.      Left1       0.037651
Days      Occ.(%)1    0.026723
Sold1     Days        0.025472
Days      Occ.(%)     0.025203
          Occ.        0.025176
          Sold        0.019513
Block     Days        0.019128
Days      Block1      0.017977
Sold      Left        0.013363
Days      Profit      0.003030
Left      Days        0.002197
Days      prıce      -0.004891
Left1     Left       -0.008803
dtype: float64

In [6]:
corr_matrix = dataset.corr()
threshold = 0.3

In [7]:
high_corr = corr_matrix[corr_matrix >= threshold].stack().reset_index()
high_corr = high_corr[high_corr['level_0'] != high_corr['level_1']]
high_corr = high_corr.rename(columns={'level_0': 'Feature 1', 'level_1': 'Feature 2', 0: 'Correlation'})
high_corr = high_corr.sort_values(by='Correlation', ascending=False)

print(high_corr)

   Feature 1 Feature 2  Correlation
21   Occ.(%)      Occ.     0.999966
38      Occ.   Occ.(%)     0.999966
8      Block    Block1     0.998016
22    Block1     Block     0.998016
6      Block      Sold     0.948956
11      Sold     Block     0.948956
13      Sold    Block1     0.947692
23    Block1      Sold     0.947692
26    Block1     Sold1     0.934785
31     Sold1    Block1     0.934785
9      Block     Sold1     0.932570
28     Sold1     Block     0.932570
47    Profit     prıce     0.926078
50     prıce    Profit     0.926078
14      Sold     Sold1     0.871648
29     Sold1      Sold     0.871648
49     prıce     Netto     0.784713
43     Netto     prıce     0.784713
48     prıce      year     0.686331
3       year     prıce     0.686331
1       year     Netto     0.673736
40     Netto      year     0.673736
2       year    Profit     0.554636
44    Profit      year     0.554636
45    Profit     Netto     0.494763
42     Netto    Profit     0.494763
19      Left     Sold1     0.345833
30     Sold1      Left     0.345833
15      Sold     Left1     0.335404
34     Left1      Sold     0.335404
7      Block      Left     0.328061
16      Left     Block     0.328061
18      Left    Block1     0.325558
24    Block1      Left     0.325558
33     Left1     Block     0.314093
10     Block     Left1     0.314093
35     Left1    Block1     0.313752
27    Block1     Left1     0.313752

In [8]:
high_corr['Feature 1'] = high_corr['Feature 1'].astype(str)
high_corr['Feature 2'] = high_corr['Feature 2'].astype(str)
core_feature = high_corr['Feature 1'].unique().tolist()
core_feature += high_corr['Feature 2'].unique().tolist()

In [9]:
core_feature

['Occ.(%)',
 'Occ.',
 'Block',
 'Block1',
 'Sold',
 'Sold1',
 'Profit',
 'prıce',
 'Netto',
 'year',
 'Left',
 'Left1',
 'Occ.',
 'Occ.(%)',
 'Block1',
 'Block',
 'Sold',
 'Sold1',
 'prıce',
 'Profit',
 'Netto',
 'year',
 'Left',
 'Left1']

In [12]:
core_feature=np.unique(core_feature)

In [13]:
dataset.columns

Index(['Destination', 'Origin', 'To Area', 'Flight Date', 'day_name',
       'flight_month', 'season', 'year', 'Flight Code', 'Days',
       'Airline Company', 'dpt', 'Block', 'Sold', 'Left', 'Occ.(%)', 'dpt1',
       'Block1', 'Sold1', 'Left1', 'Occ.(%)1', 'Occ.', 'Netto',
       'Netto Currency', 'Profit', 'prıce', 'day_convert'],
      dtype='object')

In [14]:
new_dataset = dataset.loc[:, core_feature]
new_dataset

,Block,Block1,Left,Left1,Netto,Occ.,Occ.(%),Profit,Sold,Sold1,prıce,year
0,220,220,10,69,177.00,95.45,95,61.73,210,151,238.73,2020
1,220,220,220,0,174.00,0.00,0,NaN,0,220,174.00,2020
2,220,220,5,39,253.00,97.73,98,58.35,215,181,311.35,2020
3,220,220,220,3,236.00,0.00,0,NaN,0,217,236.00,2020
4,220,220,2,219,251.00,99.09,99,-50.69,218,1,200.31,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
9371,65,65,0,0,377.18,100.00,100,420.95,65,65,798.13,2022
9372,46,46,0,0,343.18,100.00,100,398.44,46,46,741.62,2022
9373,34,34,0,0,370.00,100.00,100,512.82,34,34,882.82,2022
9374,54,54,0,0,377.18,100.00,100,467.51,54,54,844.69,2022
9375,5,5,0,0,703.18,100.00,100,361.37,5,5,1064.55,2022

In [15]:
new_dataset=new_dataset.loc[:,['year','Block','Sold','Left','Occ.(%)','Block1','Sold1',
                                       'Left1','Occ.','Netto','Profit','prıce']]

In [16]:
new_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9376 entries, 0 to 9375
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   year     9376 non-null   int64
 1   Block    9376 non-null   int64
 2   Sold     9376 non-null   int64
 3   Left     9376 non-null   int64
 4   Occ.(%)  9376 non-null   int64
 5   Block1   9376 non-null   int64
 6   Sold1    9376 non-null   int64
 7   Left1    9376 non-null   int64
 8   Occ.     9376 non-null   float64
 9   Netto    9376 non-null   float64
 10  Profit   9265 non-null   float64
 11  prıce    9376 non-null   float64
dtypes: float64(4), int64(8)
memory usage: 879.1 KB

In [17]:
new_dataset

,year,Block,Sold,Left,Occ.(%),Block1,Sold1,Left1,Occ.,Netto,Profit,prıce
0,2020,220,210,10,95,220,151,69,95.45,177.00,61.73,238.73
1,2020,220,0,220,0,220,220,0,0.00,174.00,NaN,174.00
2,2020,220,215,5,98,220,181,39,97.73,253.00,58.35,311.35
3,2020,220,0,220,0,220,217,3,0.00,236.00,NaN,236.00
4,2020,220,218,2,99,220,1,219,99.09,251.00,-50.69,200.31
...,...,...,...,...,...,...,...,...,...,...,...,...
9371,2022,65,65,0,100,65,65,0,100.00,377.18,420.95,798.13
9372,2022,46,46,0,100,46,46,0,100.00,343.18,398.44,741.62
9373,2022,34,34,0,100,34,34,0,100.00,370.00,512.82,882.82
9374,2022,54,54,0,100,54,54,0,100.00,377.18,467.51,844.69
9375,2022,5,5,0,100,5,5,0,100.00,703.18,361.37,1064.55

In [39]:
new_dataset.columns

Index(['year', 'Block', 'Sold', 'Left', 'Occ.(%)', 'Block1', 'Sold1', 'Left1',
       'Occ.', 'Netto', 'Profit', 'prıce'],
      dtype='object')

In [18]:
label_encoding(dataset, a, 'Destination')
label_encoding(dataset, a, 'Origin')
label_encoding(dataset, a, 'To Area')
label_encoding(dataset, a, 'day_name')
label_encoding(dataset, a, 'flight_month')

label_encoding(dataset, a, 'season')
label_encoding(dataset, a, 'Netto Currency')
label_encoding(dataset, a, 'Flight Code')

label_encoding(dataset, a, 'Airline Company')
label_encoding(dataset, a, 'Flight Date')

label_encoding(dataset, a, 'dpt')
label_encoding(dataset, a, 'dpt1')

In [19]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Destination      11 non-null     int64
 1   Origin           11 non-null     int64
 2   To Area          11 non-null     int64
 3   Flight Date      11 non-null     int64
 4   day_name         11 non-null     int64
 5   flight_month     11 non-null     int64
 6   season           11 non-null     int64
 7   year             11 non-null     int64
 8   Flight Code      11 non-null     int64
 9   Days             11 non-null     int64
 10  Airline Company  11 non-null     int64
 11  dpt              11 non-null     int64
 12  Block            11 non-null     int64
 13  Sold             11 non-null     int64
 14  Left             11 non-null     int64
 15  Occ.(%)          11 non-null     int64
 16  dpt1             11 non-null     int64
 17  Block1           11 non-null     int64
 18  Sold1            11 non-null     int64
 19  Left1            11 non-null     int64
 20  Occ.(%)1         11 non-null     int64
 21  Occ.             11 non-null     float64
 22  Netto            11 non-null     float64
 23  Netto Currency   11 non-null     int64
 24  Profit           11 non-null     float64
 25  prıce            11 non-null     float64
dtypes: float64(4), int64(22)
memory usage: 2.4 KB

In [20]:
new_dataset["Profit"]=new_dataset["Profit"].fillna(new_dataset["Profit"].median())

In [21]:
X = new_dataset.drop(['prıce'], axis=1)
y = new_dataset.iloc[:, -1:]

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y.values.ravel(), test_size=0.33, random_state=42)

In [24]:
xgb = XGBRegressor()

param_grid = {
    "learning_rate": [0.0001,0.001, 0.01, 0.1, 1] ,
    "max_depth": range(3,21,3),
    "gamma": [i/10.0 for i in range(0,5)],
    "colsample_bytree": [i/10.0 for i in range(3,10)],
    "reg_alpha": [1e-5, 1e-2, 0.1, 1, 10, 100],
    "reg_lambda": [1e-5, 1e-2, 0.1, 1, 10, 100]
}

xgb_cv = RandomizedSearchCV(xgb, param_grid, n_iter = 100, refit='recall',
         scoring='neg_mean_squared_error', cv = 5, verbose=2, random_state=42, n_jobs = -1) 
xgb_cv.fit(X_train, y_train)
xgb_reg = XGBRegressor(**xgb_cv.best_params_ )

Fitting 5 folds for each of 100 candidates, totalling 500 fits

In [45]:
sample2 = a.loc[:,['year', 'Block', 'Sold', 'Left', 'Occ.(%)', 'Block1', 'Sold1', 'Left1',
       'Occ.', 'Netto', 'Profit']]
sample2

,year,Block,Sold,Left,Occ.(%),Block1,Sold1,Left1,Occ.,Netto,Profit
0,2021,220,144,76,65,220,212,8,65.45,149.00,-32.53
1,2022,189,134,55,71,189,189,0,70.90,246.00,-42.98
2,2022,58,58,0,100,58,58,0,100.00,475.82,562.33
3,2022,16,16,0,100,14,14,0,100.00,660.36,647.46
4,2021,163,163,0,100,163,163,0,100.00,356.36,318.20
5,2022,492,489,3,99,478,8,470,99.39,162.00,81.50
6,2022,475,473,2,100,474,0,474,99.58,150.00,153.87
7,2022,328,326,2,99,328,322,6,99.39,162.00,22.08
8,2022,119,114,5,96,110,82,28,95.80,200.00,75.78
9,2022,235,55,180,23,235,235,0,23.40,259.00,68.88
10,2021,213,113,100,53,220,220,0,53.05,197.00,-74.97

In [46]:
rf2 = RandomForestRegressor(n_estimators = 11, max_depth = 30,min_samples_split=5,random_state = 42)
DT_Regressor = tree.DecisionTreeRegressor()
ridge = Ridge(alpha=1.0)
lasso_cv = LassoCV(alphas = None, cv = 10, max_iter = 100000, normalize = True)
lr = LinearRegression()

In [47]:
models = { 'Random forest': rf2,'Decision tree': DT_Regressor,'Ridge regression': ridge,
          'Lasso regression': lasso_cv,'Linear regression': lr,'XGBOOST': xgb_reg}

In [48]:
model_outputs = {}
sample_predicted={}

for i, (key, model) in enumerate(models.items()):
    model, score, mse, rmse, mae = training_model(X_train, X_test, y_train, y_test, model=model)
    model_outputs[key] = {'R-squared': score, 'MSE': mse, 'RMSE': rmse, 'MAE': mae}
    sample_predicted[key]=model.predict(sample2)

R^squared: 0.9972743774907535
MSE:  248.90326143829625
RMSE:  15.776668261654494
MAE: 5.101360360308412
R^squared: 0.998386120004096
MSE:  147.37917418416805
RMSE:  12.13998246226773
MAE: 5.213373182552497
R^squared: 0.9939509300910401
MSE:  552.3997633203554
RMSE:  23.503186237622238
MAE: 7.43217273276021
R^squared: 0.9939384909281549
MSE:  553.5357050001727
RMSE:  23.52733952235511
MAE: 7.455243716383414
R^squared: 0.9939507489113729
MSE:  552.4163086086008
RMSE:  23.503538214673146
MAE: 7.421801515129494

C:\Users\90541\anaconda3\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), Lasso())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * np.sqrt(n_samples).
  warnings.warn(

R^squared: 0.9985146530106427
MSE:  135.64156766550568
RMSE:  11.646525991277642
MAE: 5.144974270994734

In [49]:
model_outputs = pd.DataFrame(model_outputs)
model_outputs

,Random forest,Decision tree,Ridge regression,Lasso regression,Linear regression,XGBOOST
R-squared,0.997274,0.998386,0.993951,0.993938,0.993951,0.998515
MSE,248.903261,147.379174,552.399763,553.535705,552.416309,135.641568
RMSE,15.776668,12.139982,23.503186,23.527340,23.503538,11.646526
MAE,5.101360,5.213373,7.432173,7.455244,7.421802,5.144974

In [50]:
sample_predicted = pd.DataFrame(sample_predicted)

In [52]:
real_pred=pd.concat([a[['prıce']],sample_predicted], axis=1)
real_pred

,prıce,Random forest,Decision tree,Ridge regression,Lasso regression,Linear regression,XGBOOST
0,116.47,114.818515,113.84,97.743018,98.115516,97.864415,115.148003
1,203.02,189.777538,200.31,189.175599,189.720154,189.373304,197.581696
2,1038.15,1046.139410,1051.36,1035.601689,1035.169251,1035.635449,1038.028687
3,1307.82,1304.225297,1305.01,1303.945537,1303.331208,1303.961293,1303.974854
4,674.56,645.919634,671.63,674.672911,674.533879,674.655169,597.222046
5,243.50,243.460384,243.50,242.700485,245.655570,242.178885,261.004456
6,303.87,298.873838,303.87,302.582371,305.606310,301.979184,333.570221
7,184.08,183.313853,184.08,188.897722,188.958619,189.080536,172.432922
8,275.78,275.148063,275.78,276.926182,277.666584,277.014163,307.721222
9,327.88,314.025727,327.88,279.531873,280.144214,279.909633,308.804169
10,122.03,113.683972,128.72,95.655654,96.112437,95.778004,118.304466

In [53]:
from tensorflow import keras
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from tensorflow.keras import optimizers
from tensorflow.keras.utils import plot_model
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential, Model
from tensorflow.python.keras.layers.convolutional import Conv1D, MaxPooling1D
from tensorflow.python.keras.layers import Dense, LSTM, RepeatVector, Flatten,SimpleRNN

In [54]:
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [55]:
print('Train shape', X_train_scaled.shape)
print('Test shape', X_test_scaled.shape)

Train shape (6281, 11)
Test shape (3095, 11)

In [56]:
# input [samples, time steps, features] for LSTM
X_train_items = np.reshape(X_train_scaled, (X_train_scaled.shape[0], X_train_scaled.shape[1], 1))
X_test_items = np.reshape(X_test_scaled, (X_test_scaled.shape[0], X_test_scaled.shape[1], 1))

In [57]:
from sklearn.neural_network import MLPRegressor
mlp = MLPRegressor(hidden_layer_sizes=(500, 50), max_iter=2000, random_state=42)

In [58]:
modellstm = Sequential()
modellstm.add(LSTM(50, input_shape=(X_train_items.shape[1], 1)))
modellstm.add(Dense(1))
modellstm.compile(optimizer='adam', loss='mean_squared_error')

In [59]:
rnn = Sequential()
rnn.add(SimpleRNN(units=20, input_shape=(X_train_items.shape[1], X_train_items.shape[2])))
rnn.add(Dense(1))
rnn.compile(loss='mean_squared_error', optimizer='adam')

In [60]:
models = { 'MLP': mlp,'LSTM': modellstm,'RNN': rnn}

In [61]:
model_outputs_nn = {}
sample_predicted_nn={}

for i, (key, model) in enumerate(models.items()):
    if key == 'MLP':
        model, score, mse, rmse, mae=training_model(X_train_scaled, X_test_scaled, y_train, y_test ,model)
        model_outputs_nn[key] = {'R-squared': score, 'MSE': mse, 'RMSE': rmse, 'MAE': mae}
        sample_data = scaler.transform(sample2)
        sample_predicted_nn[key]=model.predict(sample_data)
    else:
        model, score, mse, rmse, mae =nn_models(X_train_scaled, X_test_scaled, y_train, y_test, model, epoch_num=200, batch_size=16)
        model_outputs_nn[key] = {'R-squared': score, 'MSE': mse, 'RMSE': rmse, 'MAE': mae}
        sample_predicted_nn[key]=model.predict(sample2)

R^squared: 0.9968270195984388
MSE:  289.755887966575
RMSE:  17.022217480885825
MAE: 4.49426715376861
Epoch 1/200
393/393 [==============================] - 3s 4ms/step - loss: 426460.2812
Epoch 2/200
393/393 [==============================] - 2s 4ms/step - loss: 401589.2812
Epoch 3/200
393/393 [==============================] - 2s 4ms/step - loss: 380029.0938
Epoch 4/200
393/393 [==============================] - 2s 5ms/step - loss: 359757.2812
Epoch 5/200
393/393 [==============================] - 2s 4ms/step - loss: 340552.8438
Epoch 6/200
393/393 [==============================] - 2s 6ms/step - loss: 322286.0312
Epoch 7/200
393/393 [==============================] - 2s 5ms/step - loss: 304916.8750
Epoch 8/200
393/393 [==============================] - 2s 4ms/step - loss: 288399.9062
Epoch 9/200
393/393 [==============================] - 2s 4ms/step - loss: 272699.5000
Epoch 10/200
393/393 [==============================] - 2s 4ms/step - loss: 257759.2656
Epoch 11/200
393/393 [==============================] - 2s 4ms/step - loss: 243568.9219
Epoch 12/200
393/393 [==============================] - 2s 4ms/step - loss: 230131.6094
Epoch 13/200
393/393 [==============================] - 2s 5ms/step - loss: 217424.1875
Epoch 14/200
393/393 [==============================] - 2s 4ms/step - loss: 205407.0938
Epoch 15/200
393/393 [==============================] - 2s 4ms/step - loss: 194096.7188
Epoch 16/200
393/393 [==============================] - 2s 4ms/step - loss: 183470.6094
Epoch 17/200
393/393 [==============================] - 2s 4ms/step - loss: 173524.4844
Epoch 18/200
393/393 [==============================] - 2s 4ms/step - loss: 164246.5156
Epoch 19/200
393/393 [==============================] - 2s 4ms/step - loss: 155631.7969
Epoch 20/200
393/393 [==============================] - 2s 5ms/step - loss: 147658.3594
Epoch 21/200
393/393 [==============================] - 2s 4ms/step - loss: 140325.3125
Epoch 22/200
393/393 [==============================] - 2s 5ms/step - loss: 133609.5000
Epoch 23/200
393/393 [==============================] - 3s 7ms/step - loss: 127488.0625
Epoch 24/200
393/393 [==============================] - 2s 5ms/step - loss: 121970.1016
Epoch 25/200
393/393 [==============================] - 2s 5ms/step - loss: 117037.7031
Epoch 26/200
393/393 [==============================] - 2s 4ms/step - loss: 112648.3828
Epoch 27/200
393/393 [==============================] - 2s 4ms/step - loss: 108802.4844
Epoch 28/200
393/393 [==============================] - 2s 5ms/step - loss: 105540.2656
Epoch 29/200
393/393 [==============================] - 2s 4ms/step - loss: 102646.6484
Epoch 30/200
393/393 [==============================] - 2s 4ms/step - loss: 100245.9922
Epoch 31/200
393/393 [==============================] - 2s 4ms/step - loss: 98272.6094
Epoch 32/200
393/393 [==============================] - 2s 4ms/step - loss: 96683.0391
Epoch 33/200
393/393 [==============================] - 2s 5ms/step - loss: 95398.5078
Epoch 34/200
393/393 [==============================] - 2s 5ms/step - loss: 94422.3750
Epoch 35/200
393/393 [==============================] - 2s 5ms/step - loss: 91434.9375
Epoch 36/200
393/393 [==============================] - 2s 4ms/step - loss: 69543.9219
Epoch 37/200
393/393 [==============================] - 2s 5ms/step - loss: 64048.9141
Epoch 38/200
393/393 [==============================] - 2s 4ms/step - loss: 60312.3008
Epoch 39/200
393/393 [==============================] - 2s 5ms/step - loss: 60818.1172
Epoch 40/200
393/393 [==============================] - 2s 6ms/step - loss: 54042.4297
Epoch 41/200
393/393 [==============================] - 2s 4ms/step - loss: 50134.9688
Epoch 42/200
393/393 [==============================] - 2s 5ms/step - loss: 55936.9492
Epoch 43/200
393/393 [==============================] - 2s 5ms/step - loss: 45837.5195
Epoch 44/200
393/393 [==============================] - 2s 5ms/step - loss: 44232.9062
Epoch 45/200
393/393 [==============================] - 2s 5ms/step - loss: 43325.4258
Epoch 46/200
393/393 [==============================] - 2s 4ms/step - loss: 42660.3398
Epoch 47/200
393/393 [==============================] - 2s 4ms/step - loss: 42195.6172
Epoch 48/200
393/393 [==============================] - 2s 4ms/step - loss: 41879.0742
Epoch 49/200
393/393 [==============================] - 2s 4ms/step - loss: 41631.1758
Epoch 50/200
393/393 [==============================] - 2s 6ms/step - loss: 41306.8711
Epoch 51/200
393/393 [==============================] - 2s 5ms/step - loss: 41182.5742
Epoch 52/200
393/393 [==============================] - 2s 5ms/step - loss: 41117.8086
Epoch 53/200
393/393 [==============================] - 2s 4ms/step - loss: 40706.8633
Epoch 54/200
393/393 [==============================] - 2s 5ms/step - loss: 40355.0625
Epoch 55/200
393/393 [==============================] - 2s 4ms/step - loss: 40032.3047
Epoch 56/200
393/393 [==============================] - 2s 5ms/step - loss: 39767.4727
Epoch 57/200
393/393 [==============================] - 2s 5ms/step - loss: 39571.9414
Epoch 58/200
393/393 [==============================] - 2s 4ms/step - loss: 39224.2383
Epoch 59/200
393/393 [==============================] - 2s 4ms/step - loss: 38720.8242
Epoch 60/200
393/393 [==============================] - 2s 6ms/step - loss: 39597.2930
Epoch 61/200
393/393 [==============================] - 2s 5ms/step - loss: 39793.9805
Epoch 62/200
393/393 [==============================] - 2s 5ms/step - loss: 39826.5898
Epoch 63/200
393/393 [==============================] - 2s 5ms/step - loss: 37868.9375
Epoch 64/200
393/393 [==============================] - 2s 6ms/step - loss: 36724.0820
Epoch 65/200
393/393 [==============================] - 2s 5ms/step - loss: 35523.9492
Epoch 66/200
393/393 [==============================] - 2s 5ms/step - loss: 34537.1719
Epoch 67/200
393/393 [==============================] - 2s 5ms/step - loss: 33530.0742
Epoch 68/200
393/393 [==============================] - 2s 5ms/step - loss: 32954.8203
Epoch 69/200
393/393 [==============================] - 2s 4ms/step - loss: 31832.8848
Epoch 70/200
393/393 [==============================] - 2s 4ms/step - loss: 31740.9082
Epoch 71/200
393/393 [==============================] - 2s 5ms/step - loss: 30470.4707
Epoch 72/200
393/393 [==============================] - 2s 4ms/step - loss: 29896.7402
Epoch 73/200
393/393 [==============================] - 2s 5ms/step - loss: 28664.8828
Epoch 74/200
393/393 [==============================] - 2s 4ms/step - loss: 28323.7148
Epoch 75/200
393/393 [==============================] - 2s 5ms/step - loss: 27418.8203
Epoch 76/200
393/393 [==============================] - 2s 4ms/step - loss: 27147.8613
Epoch 77/200
393/393 [==============================] - 2s 4ms/step - loss: 25963.2715
Epoch 78/200
393/393 [==============================] - 2s 4ms/step - loss: 25356.9668
Epoch 79/200
393/393 [==============================] - 2s 4ms/step - loss: 24507.0840
Epoch 80/200
393/393 [==============================] - 2s 5ms/step - loss: 24063.2129
Epoch 81/200
393/393 [==============================] - 2s 4ms/step - loss: 23155.2500
Epoch 82/200
393/393 [==============================] - 2s 4ms/step - loss: 22952.8320
Epoch 83/200
393/393 [==============================] - 2s 4ms/step - loss: 22102.8652
Epoch 84/200
393/393 [==============================] - 2s 4ms/step - loss: 21824.9883
Epoch 85/200
393/393 [==============================] - 2s 4ms/step - loss: 21108.1387
Epoch 86/200
393/393 [==============================] - 2s 4ms/step - loss: 20566.1855
Epoch 87/200
393/393 [==============================] - 2s 4ms/step - loss: 20249.9102
Epoch 88/200
393/393 [==============================] - 2s 4ms/step - loss: 19332.6113
Epoch 89/200
393/393 [==============================] - 2s 4ms/step - loss: 18977.9883
Epoch 90/200
393/393 [==============================] - 2s 4ms/step - loss: 18493.8828
Epoch 91/200
393/393 [==============================] - 2s 4ms/step - loss: 17971.1582
Epoch 92/200
393/393 [==============================] - 2s 5ms/step - loss: 17198.0039
Epoch 93/200
393/393 [==============================] - 2s 6ms/step - loss: 16717.3438
Epoch 94/200
393/393 [==============================] - 2s 6ms/step - loss: 15956.5625
Epoch 95/200
393/393 [==============================] - 2s 4ms/step - loss: 15374.3711
Epoch 96/200
393/393 [==============================] - 2s 4ms/step - loss: 14659.6670
Epoch 97/200
393/393 [==============================] - 2s 4ms/step - loss: 13732.0430
Epoch 98/200
393/393 [==============================] - 2s 4ms/step - loss: 13177.3369
Epoch 99/200
393/393 [==============================] - 2s 4ms/step - loss: 12603.8945
Epoch 100/200
393/393 [==============================] - 2s 4ms/step - loss: 12051.4170
Epoch 101/200
393/393 [==============================] - 2s 4ms/step - loss: 11525.0078
Epoch 102/200
393/393 [==============================] - 2s 4ms/step - loss: 10992.4385
Epoch 103/200
393/393 [==============================] - 2s 4ms/step - loss: 10546.2686
Epoch 104/200
393/393 [==============================] - 2s 4ms/step - loss: 9955.5742
Epoch 105/200
393/393 [==============================] - 2s 4ms/step - loss: 9449.2383
Epoch 106/200
393/393 [==============================] - 2s 4ms/step - loss: 8906.9961
Epoch 107/200
393/393 [==============================] - 2s 4ms/step - loss: 8537.2090
Epoch 108/200
393/393 [==============================] - 2s 4ms/step - loss: 8145.8457
Epoch 109/200
393/393 [==============================] - 2s 4ms/step - loss: 7793.4175
Epoch 110/200
393/393 [==============================] - 2s 4ms/step - loss: 7368.7720
Epoch 111/200
393/393 [==============================] - 2s 4ms/step - loss: 7066.6387
Epoch 112/200
393/393 [==============================] - 2s 4ms/step - loss: 6747.0225
Epoch 113/200
393/393 [==============================] - 2s 4ms/step - loss: 6479.7231
Epoch 114/200
393/393 [==============================] - 2s 4ms/step - loss: 6125.3086
Epoch 115/200
393/393 [==============================] - 2s 4ms/step - loss: 5866.0244
Epoch 116/200
393/393 [==============================] - 2s 4ms/step - loss: 5580.6787
Epoch 117/200
393/393 [==============================] - 2s 4ms/step - loss: 5340.1152
Epoch 118/200
393/393 [==============================] - 2s 4ms/step - loss: 5096.8828
Epoch 119/200
393/393 [==============================] - 2s 4ms/step - loss: 4842.6724
Epoch 120/200
393/393 [==============================] - 2s 4ms/step - loss: 4644.0991
Epoch 121/200
393/393 [==============================] - 2s 4ms/step - loss: 4400.0479
Epoch 122/200
393/393 [==============================] - 2s 4ms/step - loss: 4191.3926
Epoch 123/200
393/393 [==============================] - 2s 4ms/step - loss: 4012.1235
Epoch 124/200
393/393 [==============================] - 1s 4ms/step - loss: 3849.5581
Epoch 125/200
393/393 [==============================] - 1s 4ms/step - loss: 3690.6711
Epoch 126/200
393/393 [==============================] - 2s 4ms/step - loss: 3597.5806
Epoch 127/200
393/393 [==============================] - 2s 4ms/step - loss: 3471.9966
Epoch 128/200
393/393 [==============================] - 2s 4ms/step - loss: 3361.2212
Epoch 129/200
393/393 [==============================] - 2s 5ms/step - loss: 3227.1484
Epoch 130/200
393/393 [==============================] - 2s 4ms/step - loss: 3167.4048
Epoch 131/200
393/393 [==============================] - 2s 5ms/step - loss: 3055.6182
Epoch 132/200
393/393 [==============================] - 2s 4ms/step - loss: 2956.2839
Epoch 133/200
393/393 [==============================] - 1s 4ms/step - loss: 2886.8416
Epoch 134/200
393/393 [==============================] - 2s 4ms/step - loss: 2832.6511
Epoch 135/200
393/393 [==============================] - 2s 4ms/step - loss: 2718.3494
Epoch 136/200
393/393 [==============================] - 2s 4ms/step - loss: 2674.2898
Epoch 137/200
393/393 [==============================] - 2s 4ms/step - loss: 2607.6411
Epoch 138/200
393/393 [==============================] - 2s 4ms/step - loss: 2523.6680
Epoch 139/200
393/393 [==============================] - 2s 4ms/step - loss: 2472.2188
Epoch 140/200
393/393 [==============================] - 2s 4ms/step - loss: 2415.8271
Epoch 141/200
393/393 [==============================] - 2s 4ms/step - loss: 2367.8145
Epoch 142/200
393/393 [==============================] - 2s 4ms/step - loss: 2329.8267
Epoch 143/200
393/393 [==============================] - 2s 4ms/step - loss: 2280.6262
Epoch 144/200
393/393 [==============================] - 2s 4ms/step - loss: 2221.2505
Epoch 145/200
393/393 [==============================] - 2s 4ms/step - loss: 2185.9451
Epoch 146/200
393/393 [==============================] - 2s 4ms/step - loss: 2147.0552
Epoch 147/200
393/393 [==============================] - 2s 5ms/step - loss: 2091.3906
Epoch 148/200
393/393 [==============================] - 2s 5ms/step - loss: 2064.3069
Epoch 149/200
393/393 [==============================] - 2s 4ms/step - loss: 2010.1754
Epoch 150/200
393/393 [==============================] - 1s 4ms/step - loss: 1997.0764
Epoch 151/200
393/393 [==============================] - 2s 4ms/step - loss: 1962.5861
Epoch 152/200
393/393 [==============================] - 1s 4ms/step - loss: 1937.9567
Epoch 153/200
393/393 [==============================] - 2s 4ms/step - loss: 1900.8912
Epoch 154/200
393/393 [==============================] - 2s 4ms/step - loss: 1858.8521
Epoch 155/200
393/393 [==============================] - 2s 4ms/step - loss: 1813.7841
Epoch 156/200
393/393 [==============================] - 2s 4ms/step - loss: 1815.8409
Epoch 157/200
393/393 [==============================] - 2s 5ms/step - loss: 1784.6182
Epoch 158/200
393/393 [==============================] - 2s 5ms/step - loss: 1752.3700
Epoch 159/200
393/393 [==============================] - 2s 5ms/step - loss: 1744.7247
Epoch 160/200
393/393 [==============================] - 2s 4ms/step - loss: 1684.1035
Epoch 161/200
393/393 [==============================] - 2s 5ms/step - loss: 1682.8236
Epoch 162/200
393/393 [==============================] - 2s 4ms/step - loss: 1649.3323
Epoch 163/200
393/393 [==============================] - 2s 4ms/step - loss: 1639.2444
Epoch 164/200
393/393 [==============================] - 2s 5ms/step - loss: 1621.0543
Epoch 165/200
393/393 [==============================] - 2s 5ms/step - loss: 1592.6281
Epoch 166/200
393/393 [==============================] - 2s 5ms/step - loss: 1563.8367
Epoch 167/200
393/393 [==============================] - 2s 5ms/step - loss: 1547.1748
Epoch 168/200
393/393 [==============================] - 2s 5ms/step - loss: 1546.9136
Epoch 169/200
393/393 [==============================] - 2s 4ms/step - loss: 1536.1729
Epoch 170/200
393/393 [==============================] - 2s 5ms/step - loss: 1491.8368
Epoch 171/200
393/393 [==============================] - 2s 4ms/step - loss: 1471.7975
Epoch 172/200
393/393 [==============================] - 2s 4ms/step - loss: 1460.5913
Epoch 173/200
393/393 [==============================] - 2s 4ms/step - loss: 1459.8682
Epoch 174/200
393/393 [==============================] - 2s 4ms/step - loss: 1431.0775
Epoch 175/200
393/393 [==============================] - 2s 4ms/step - loss: 1413.2151
Epoch 176/200
393/393 [==============================] - 1s 4ms/step - loss: 1408.4039
Epoch 177/200
393/393 [==============================] - 2s 4ms/step - loss: 1398.3187
Epoch 178/200
393/393 [==============================] - 2s 5ms/step - loss: 1393.1127
Epoch 179/200
393/393 [==============================] - 2s 4ms/step - loss: 1349.6388
Epoch 180/200
393/393 [==============================] - 2s 4ms/step - loss: 1353.4133
Epoch 181/200
393/393 [==============================] - 2s 4ms/step - loss: 1337.7341
Epoch 182/200
393/393 [==============================] - 1s 4ms/step - loss: 1344.3004
Epoch 183/200
393/393 [==============================] - 2s 4ms/step - loss: 1292.5775
Epoch 184/200
393/393 [==============================] - 2s 4ms/step - loss: 1309.5691
Epoch 185/200
393/393 [==============================] - 2s 5ms/step - loss: 1311.0555
Epoch 186/200
393/393 [==============================] - 2s 4ms/step - loss: 1278.9081
Epoch 187/200

393/393 [==============================] - 2s 5ms/step - loss: 1276.0596
Epoch 188/200
393/393 [==============================] - 2s 5ms/step - loss: 1252.9425
Epoch 189/200
393/393 [==============================] - 2s 4ms/step - loss: 1246.8264
Epoch 190/200
393/393 [==============================] - 2s 4ms/step - loss: 1237.6992
Epoch 191/200
393/393 [==============================] - 2s 4ms/step - loss: 1220.6710
Epoch 192/200
393/393 [==============================] - 1s 4ms/step - loss: 1209.4661
Epoch 193/200
393/393 [==============================] - 1s 4ms/step - loss: 1204.4553
Epoch 194/200
393/393 [==============================] - 2s 5ms/step - loss: 1185.9669
Epoch 195/200
393/393 [==============================] - 2s 4ms/step - loss: 1184.0776
Epoch 196/200
393/393 [==============================] - 2s 6ms/step - loss: 1166.1237
Epoch 197/200
393/393 [==============================] - 2s 5ms/step - loss: 1174.3926
Epoch 198/200
393/393 [==============================] - 2s 4ms/step - loss: 1157.6746
Epoch 199/200
393/393 [==============================] - 2s 4ms/step - loss: 1150.1163
Epoch 200/200
393/393 [==============================] - 2s 4ms/step - loss: 1139.7809
97/97 [==============================] - 1s 1ms/step
R^squared: 0.9888072756932837
MSE:  1022.11717685424
RMSE:  31.97056735271115
MAE: 9.041862119745883
1/1 [==============================] - 0s 202ms/step
Epoch 1/200
393/393 [==============================] - 1s 2ms/step - loss: 437879.0938
Epoch 2/200
393/393 [==============================] - 1s 2ms/step - loss: 425810.2188
Epoch 3/200
393/393 [==============================] - 1s 2ms/step - loss: 415986.6250
Epoch 4/200
393/393 [==============================] - 1s 2ms/step - loss: 406649.7812
Epoch 5/200
393/393 [==============================] - 1s 2ms/step - loss: 397581.6875
Epoch 6/200
393/393 [==============================] - 1s 2ms/step - loss: 388728.4062
Epoch 7/200
393/393 [==============================] - 1s 2ms/step - loss: 380062.8750
Epoch 8/200
393/393 [==============================] - 1s 2ms/step - loss: 371569.5625
Epoch 9/200
393/393 [==============================] - 1s 2ms/step - loss: 363233.4062
Epoch 10/200
393/393 [==============================] - 1s 2ms/step - loss: 355057.8125
Epoch 11/200
393/393 [==============================] - 1s 2ms/step - loss: 347029.0000
Epoch 12/200
393/393 [==============================] - 1s 2ms/step - loss: 339138.1562
Epoch 13/200
393/393 [==============================] - 1s 2ms/step - loss: 331388.3438
Epoch 14/200
393/393 [==============================] - 1s 2ms/step - loss: 323773.0625
Epoch 15/200
393/393 [==============================] - 1s 3ms/step - loss: 316288.4375
Epoch 16/200
393/393 [==============================] - 1s 2ms/step - loss: 308930.9062
Epoch 17/200
393/393 [==============================] - 1s 2ms/step - loss: 301701.8750
Epoch 18/200
393/393 [==============================] - 1s 2ms/step - loss: 294612.2188
Epoch 19/200
393/393 [==============================] - 1s 2ms/step - loss: 287654.0938
Epoch 20/200
393/393 [==============================] - 1s 2ms/step - loss: 280827.5625
Epoch 21/200
393/393 [==============================] - 1s 2ms/step - loss: 274125.6875
Epoch 22/200
393/393 [==============================] - 1s 2ms/step - loss: 267557.5000
Epoch 23/200
393/393 [==============================] - 1s 2ms/step - loss: 261127.9219
Epoch 24/200
393/393 [==============================] - 1s 2ms/step - loss: 254816.2344
Epoch 25/200
393/393 [==============================] - 1s 2ms/step - loss: 248636.2344
Epoch 26/200
393/393 [==============================] - 1s 2ms/step - loss: 242591.2188
Epoch 27/200
393/393 [==============================] - 1s 2ms/step - loss: 236674.6562
Epoch 28/200
393/393 [==============================] - 1s 2ms/step - loss: 230884.4062
Epoch 29/200
393/393 [==============================] - 1s 2ms/step - loss: 225217.0156
Epoch 30/200
393/393 [==============================] - 1s 2ms/step - loss: 219677.3125
Epoch 31/200
393/393 [==============================] - 1s 2ms/step - loss: 214268.0000
Epoch 32/200
393/393 [==============================] - 1s 2ms/step - loss: 208986.5156
Epoch 33/200
393/393 [==============================] - 1s 1ms/step - loss: 203829.4688
Epoch 34/200
393/393 [==============================] - 1s 2ms/step - loss: 198802.2031
Epoch 35/200
393/393 [==============================] - 1s 2ms/step - loss: 193902.8750
Epoch 36/200
393/393 [==============================] - 1s 2ms/step - loss: 189126.4688
Epoch 37/200
393/393 [==============================] - 1s 2ms/step - loss: 184487.9219
Epoch 38/200
393/393 [==============================] - 1s 1ms/step - loss: 179970.5000
Epoch 39/200
393/393 [==============================] - 1s 1ms/step - loss: 175573.8750
Epoch 40/200
393/393 [==============================] - 1s 1ms/step - loss: 171299.0938
Epoch 41/200
393/393 [==============================] - 1s 2ms/step - loss: 167147.4688
Epoch 42/200
393/393 [==============================] - 1s 2ms/step - loss: 163124.0938
Epoch 43/200
393/393 [==============================] - 1s 1ms/step - loss: 159229.2500
Epoch 44/200
393/393 [==============================] - 1s 2ms/step - loss: 155464.3594
Epoch 45/200
393/393 [==============================] - 1s 1ms/step - loss: 151814.9219
Epoch 46/200
393/393 [==============================] - 1s 1ms/step - loss: 148284.7812
Epoch 47/200
393/393 [==============================] - 1s 2ms/step - loss: 144875.3750
Epoch 48/200
393/393 [==============================] - 1s 2ms/step - loss: 141585.3906
Epoch 49/200
393/393 [==============================] - 1s 2ms/step - loss: 138409.6406
Epoch 50/200
393/393 [==============================] - 1s 2ms/step - loss: 135361.3281
Epoch 51/200
393/393 [==============================] - 1s 2ms/step - loss: 132437.4688
Epoch 52/200
393/393 [==============================] - 1s 2ms/step - loss: 129636.9766
Epoch 53/200
393/393 [==============================] - 1s 2ms/step - loss: 126953.7344
Epoch 54/200
393/393 [==============================] - 1s 2ms/step - loss: 124388.3828
Epoch 55/200
393/393 [==============================] - 1s 2ms/step - loss: 122201.3203
Epoch 56/200
393/393 [==============================] - 1s 2ms/step - loss: 119585.6953
Epoch 57/200
393/393 [==============================] - 1s 2ms/step - loss: 117365.2188
Epoch 58/200
393/393 [==============================] - 1s 2ms/step - loss: 115253.1875
Epoch 59/200
393/393 [==============================] - 1s 2ms/step - loss: 113258.7969
Epoch 60/200
393/393 [==============================] - 1s 2ms/step - loss: 111371.3203
Epoch 61/200
393/393 [==============================] - 1s 2ms/step - loss: 109590.6016
Epoch 62/200
393/393 [==============================] - 1s 2ms/step - loss: 107920.6328
Epoch 63/200
393/393 [==============================] - 1s 2ms/step - loss: 106361.6797
Epoch 64/200
393/393 [==============================] - 1s 2ms/step - loss: 104908.8047
Epoch 65/200
393/393 [==============================] - 1s 2ms/step - loss: 103555.7500
Epoch 66/200
393/393 [==============================] - 1s 2ms/step - loss: 102303.1094
Epoch 67/200
393/393 [==============================] - 1s 2ms/step - loss: 101145.7969
Epoch 68/200
393/393 [==============================] - 1s 2ms/step - loss: 100084.8906
Epoch 69/200
393/393 [==============================] - 1s 2ms/step - loss: 99120.6016
Epoch 70/200
393/393 [==============================] - 1s 2ms/step - loss: 98247.7734
Epoch 71/200
393/393 [==============================] - 1s 2ms/step - loss: 97452.4531
Epoch 72/200
393/393 [==============================] - 1s 2ms/step - loss: 96730.5938
Epoch 73/200
393/393 [==============================] - 1s 2ms/step - loss: 96086.0156
Epoch 74/200
393/393 [==============================] - 1s 2ms/step - loss: 95511.5781
Epoch 75/200
393/393 [==============================] - 1s 3ms/step - loss: 95004.9297
Epoch 76/200
393/393 [==============================] - 1s 2ms/step - loss: 94561.2188
Epoch 77/200
393/393 [==============================] - 1s 2ms/step - loss: 94172.6328
Epoch 78/200
393/393 [==============================] - 1s 3ms/step - loss: 93833.0859
Epoch 79/200
393/393 [==============================] - 1s 3ms/step - loss: 93541.3438
Epoch 80/200
393/393 [==============================] - 1s 3ms/step - loss: 93291.8125
Epoch 81/200
393/393 [==============================] - 1s 2ms/step - loss: 93082.4531
Epoch 82/200
393/393 [==============================] - 1s 2ms/step - loss: 92902.9141
Epoch 83/200
393/393 [==============================] - 1s 2ms/step - loss: 92753.8828
Epoch 84/200
393/393 [==============================] - 1s 2ms/step - loss: 92631.3047
Epoch 85/200
393/393 [==============================] - 1s 2ms/step - loss: 92528.5000
Epoch 86/200
393/393 [==============================] - 1s 2ms/step - loss: 92444.7578
Epoch 87/200
393/393 [==============================] - 1s 1ms/step - loss: 92375.3750
Epoch 88/200
393/393 [==============================] - 1s 1ms/step - loss: 92317.8438
Epoch 89/200
393/393 [==============================] - 0s 1ms/step - loss: 92270.4844
Epoch 90/200
393/393 [==============================] - 1s 1ms/step - loss: 90614.3125
Epoch 91/200
393/393 [==============================] - 0s 1ms/step - loss: 64181.4609
Epoch 92/200
393/393 [==============================] - 1s 2ms/step - loss: 55542.8750
Epoch 93/200
393/393 [==============================] - 1s 2ms/step - loss: 53812.9297
Epoch 94/200
393/393 [==============================] - 1s 2ms/step - loss: 52262.8789
Epoch 95/200
393/393 [==============================] - 1s 2ms/step - loss: 50582.4844
Epoch 96/200
393/393 [==============================] - 1s 2ms/step - loss: 49281.4062
Epoch 97/200
393/393 [==============================] - 1s 1ms/step - loss: 48264.7422
Epoch 98/200
393/393 [==============================] - 1s 1ms/step - loss: 47115.3711
Epoch 99/200
393/393 [==============================] - 0s 1ms/step - loss: 46068.1250
Epoch 100/200
393/393 [==============================] - 1s 1ms/step - loss: 45331.2539
Epoch 101/200
393/393 [==============================] - 1s 2ms/step - loss: 44847.5586
Epoch 102/200
393/393 [==============================] - 1s 2ms/step - loss: 43640.2812
Epoch 103/200
393/393 [==============================] - 1s 1ms/step - loss: 43004.9375
Epoch 104/200
393/393 [==============================] - 1s 1ms/step - loss: 42408.4180
Epoch 105/200
393/393 [==============================] - 1s 1ms/step - loss: 41722.3789
Epoch 106/200
393/393 [==============================] - 1s 1ms/step - loss: 41324.8008
Epoch 107/200
393/393 [==============================] - 1s 2ms/step - loss: 40589.5352
Epoch 108/200
393/393 [==============================] - 1s 2ms/step - loss: 40310.0742
Epoch 109/200
393/393 [==============================] - 1s 2ms/step - loss: 40003.7031
Epoch 110/200
393/393 [==============================] - 1s 2ms/step - loss: 39337.3906
Epoch 111/200
393/393 [==============================] - 1s 2ms/step - loss: 39003.2500
Epoch 112/200
393/393 [==============================] - 1s 2ms/step - loss: 38253.8828
Epoch 113/200
393/393 [==============================] - 1s 2ms/step - loss: 37836.6211
Epoch 114/200
393/393 [==============================] - 1s 2ms/step - loss: 37308.6016
Epoch 115/200
393/393 [==============================] - 1s 2ms/step - loss: 36826.4531
Epoch 116/200
393/393 [==============================] - 1s 2ms/step - loss: 36385.1016
Epoch 117/200
393/393 [==============================] - 1s 2ms/step - loss: 35902.1055
Epoch 118/200
393/393 [==============================] - 1s 2ms/step - loss: 35405.5664
Epoch 119/200
393/393 [==============================] - 1s 2ms/step - loss: 35020.3125
Epoch 120/200
393/393 [==============================] - 1s 1ms/step - loss: 34454.8438
Epoch 121/200
393/393 [==============================] - 1s 1ms/step - loss: 33964.6680
Epoch 122/200
393/393 [==============================] - 1s 1ms/step - loss: 33706.8711
Epoch 123/200
393/393 [==============================] - 1s 1ms/step - loss: 33068.6016
Epoch 124/200
393/393 [==============================] - 0s 1ms/step - loss: 32886.9727
Epoch 125/200
393/393 [==============================] - 1s 1ms/step - loss: 32310.4043
Epoch 126/200
393/393 [==============================] - 0s 1ms/step - loss: 31949.1016
Epoch 127/200
393/393 [==============================] - 1s 1ms/step - loss: 31534.0098
Epoch 128/200
393/393 [==============================] - 0s 1ms/step - loss: 31188.0605
Epoch 129/200
393/393 [==============================] - 1s 1ms/step - loss: 30781.8066
Epoch 130/200
393/393 [==============================] - 1s 1ms/step - loss: 30464.6035
Epoch 131/200
393/393 [==============================] - 1s 1ms/step - loss: 30142.7012
Epoch 132/200
393/393 [==============================] - 1s 1ms/step - loss: 29660.4102
Epoch 133/200
393/393 [==============================] - 1s 2ms/step - loss: 29391.1445
Epoch 134/200
393/393 [==============================] - 1s 2ms/step - loss: 29052.0215
Epoch 135/200
393/393 [==============================] - 1s 2ms/step - loss: 28661.0039
Epoch 136/200
393/393 [==============================] - 1s 2ms/step - loss: 28410.2656
Epoch 137/200
393/393 [==============================] - 1s 2ms/step - loss: 28104.5742
Epoch 138/200
393/393 [==============================] - 1s 2ms/step - loss: 27927.2012
Epoch 139/200
393/393 [==============================] - 1s 1ms/step - loss: 27554.4141
Epoch 140/200
393/393 [==============================] - 1s 2ms/step - loss: 27387.6543
Epoch 141/200
393/393 [==============================] - 1s 3ms/step - loss: 27035.4707
Epoch 142/200
393/393 [==============================] - 1s 2ms/step - loss: 26697.4668
Epoch 143/200
393/393 [==============================] - 1s 2ms/step - loss: 26444.3906
Epoch 144/200
393/393 [==============================] - 1s 2ms/step - loss: 26166.5898
Epoch 145/200
393/393 [==============================] - 1s 2ms/step - loss: 25856.7695
Epoch 146/200
393/393 [==============================] - 1s 2ms/step - loss: 25588.4375
Epoch 147/200
393/393 [==============================] - 1s 2ms/step - loss: 25472.8555
Epoch 148/200
393/393 [==============================] - 1s 2ms/step - loss: 25105.0723
Epoch 149/200
393/393 [==============================] - 1s 2ms/step - loss: 24881.9355
Epoch 150/200
393/393 [==============================] - 1s 2ms/step - loss: 24620.6582
Epoch 151/200
393/393 [==============================] - 1s 2ms/step - loss: 24270.2051
Epoch 152/200
393/393 [==============================] - 1s 2ms/step - loss: 24107.7695
Epoch 153/200
393/393 [==============================] - 1s 3ms/step - loss: 23878.1543
Epoch 154/200
393/393 [==============================] - 1s 2ms/step - loss: 23618.0117
Epoch 155/200
393/393 [==============================] - 1s 2ms/step - loss: 23448.8477
Epoch 156/200
393/393 [==============================] - 1s 2ms/step - loss: 23251.4590
Epoch 157/200
393/393 [==============================] - 1s 2ms/step - loss: 22919.1191
Epoch 158/200
393/393 [==============================] - 1s 2ms/step - loss: 22717.5293
Epoch 159/200
393/393 [==============================] - 1s 2ms/step - loss: 22609.5586
Epoch 160/200
393/393 [==============================] - 1s 2ms/step - loss: 22329.5098
Epoch 161/200
393/393 [==============================] - 1s 2ms/step - loss: 22061.1953
Epoch 162/200
393/393 [==============================] - 1s 2ms/step - loss: 21793.9199
Epoch 163/200
393/393 [==============================] - 1s 2ms/step - loss: 21623.8867
Epoch 164/200
393/393 [==============================] - 1s 2ms/step - loss: 21454.5293
Epoch 165/200
393/393 [==============================] - 1s 2ms/step - loss: 21260.4805
Epoch 166/200
393/393 [==============================] - 1s 2ms/step - loss: 20974.6562
Epoch 167/200
393/393 [==============================] - 1s 2ms/step - loss: 20747.2500
Epoch 168/200
393/393 [==============================] - 1s 2ms/step - loss: 20485.3633
Epoch 169/200
393/393 [==============================] - 1s 2ms/step - loss: 20289.3008
Epoch 170/200
393/393 [==============================] - 1s 2ms/step - loss: 20072.3438
Epoch 171/200

393/393 [==============================] - 1s 2ms/step - loss: 19858.4395
Epoch 172/200
393/393 [==============================] - 1s 2ms/step - loss: 19710.1621
Epoch 173/200
393/393 [==============================] - 1s 3ms/step - loss: 19512.5664
Epoch 174/200
393/393 [==============================] - 1s 3ms/step - loss: 19239.1191
Epoch 175/200
393/393 [==============================] - 1s 3ms/step - loss: 19032.7109
Epoch 176/200
393/393 [==============================] - 1s 2ms/step - loss: 18826.9883
Epoch 177/200
393/393 [==============================] - 1s 2ms/step - loss: 18542.6836
Epoch 178/200
393/393 [==============================] - 1s 2ms/step - loss: 18414.1836
Epoch 179/200
393/393 [==============================] - 1s 2ms/step - loss: 18251.1621
Epoch 180/200
393/393 [==============================] - 1s 2ms/step - loss: 17978.8789
Epoch 181/200
393/393 [==============================] - 1s 3ms/step - loss: 17743.1211
Epoch 182/200
393/393 [==============================] - 1s 3ms/step - loss: 17630.5352
Epoch 183/200
393/393 [==============================] - 1s 2ms/step - loss: 17394.0820
Epoch 184/200
393/393 [==============================] - 1s 2ms/step - loss: 17168.1875
Epoch 185/200
393/393 [==============================] - 1s 2ms/step - loss: 17065.4668
Epoch 186/200
393/393 [==============================] - 1s 2ms/step - loss: 16816.8438
Epoch 187/200
393/393 [==============================] - 1s 2ms/step - loss: 16592.9785
Epoch 188/200
393/393 [==============================] - 1s 2ms/step - loss: 16390.1172
Epoch 189/200
393/393 [==============================] - 1s 2ms/step - loss: 16189.3496
Epoch 190/200
393/393 [==============================] - 1s 2ms/step - loss: 15972.4443
Epoch 191/200
393/393 [==============================] - 1s 2ms/step - loss: 15808.8164
Epoch 192/200
393/393 [==============================] - 1s 1ms/step - loss: 15580.1602
Epoch 193/200
393/393 [==============================] - 1s 2ms/step - loss: 15376.9854
Epoch 194/200
393/393 [==============================] - 1s 2ms/step - loss: 15159.3389
Epoch 195/200
393/393 [==============================] - 1s 2ms/step - loss: 14968.3555
Epoch 196/200
393/393 [==============================] - 1s 2ms/step - loss: 14724.4502
Epoch 197/200
393/393 [==============================] - 1s 2ms/step - loss: 14593.0127
Epoch 198/200
393/393 [==============================] - 1s 2ms/step - loss: 14317.4658
Epoch 199/200
393/393 [==============================] - 1s 2ms/step - loss: 14126.9170
Epoch 200/200
393/393 [==============================] - 1s 2ms/step - loss: 13891.2354
97/97 [==============================] - 0s 956us/step
R^squared: 0.8522399182161529
MSE:  13493.418894811228
RMSE:  116.1611763663369
MAE: 74.72318826160819
1/1 [==============================] - 0s 95ms/step

In [62]:
model_outputs_nn = pd.DataFrame(model_outputs_nn)
model_outputs_nn

                  MLP         LSTM           RNN
R-squared    0.996827     0.988807      0.852240
MSE        289.755888  1022.117177  13493.418895
RMSE        17.022217    31.970567    116.161176
MAE          4.494267     9.041862     74.723188

In [63]:
sample_predicted_nn

{'MLP': array([ 114.02331799,  203.77214282, 1036.34164395, 1307.08928   ,
         673.25235903,  250.00021774,  305.31845559,  186.06101643,
         272.51099766,  304.59565055,  128.30556064]),
 'LSTM': array([[ 33.764343],
        [ 13.440798],
        [319.10892 ],
        [509.40875 ],
        [319.83093 ],
        [421.9389  ],
        [348.9947  ],
        [379.78265 ],
        [429.5772  ],
        [395.2431  ],
        [ 35.919037]], dtype=float32),
 'RNN': array([[-579.7477 ],
        [-583.7301 ],
        [ 773.9526 ],
        [ 773.9526 ],
        [ 773.9526 ],
        [ 775.93274],
        [ 773.9526 ],
        [ 872.5875 ],
        [ 788.4404 ],
        [ 841.5123 ],
        [-677.8798 ]], dtype=float32)}

In [64]:
sample_predicted_nn['LSTM'] = sample_predicted_nn['LSTM'].flatten()
sample_predicted_nn['RNN'] = sample_predicted_nn['RNN'].flatten()

In [66]:
sample_predicted_nn = pd.DataFrame(sample_predicted_nn)
real_pred_nn=pd.concat([a[['prıce']],sample_predicted_nn], axis=1)
real_pred_nn

      prıce          MLP        LSTM         RNN
0    116.47   114.023318   33.764343 -579.747681
1    203.02   203.772143   13.440798 -583.730103
2   1038.15  1036.341644  319.108917  773.952576
3   1307.82  1307.089280  509.408752  773.952576
4    674.56   673.252359  319.830933  773.952576
5    243.50   250.000218  421.938904  775.932739
6    303.87   305.318456  348.994690  773.952576
7    184.08   186.061016  379.782654  872.587524
8    275.78   272.510998  429.577209  788.440430
9    327.88   304.595651  395.243103  841.512329
10   122.03   128.305561   35.919037 -677.879822